header{
    
     padding: 15px;
     background-color: transparent;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     a{
        font-size:20px;
        text-decoration: none;
        color: white;
     }
    ul{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        list-style: none;
    }
}