main {
  padding-top: 80px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#register-form {
  width: 30%;
  padding: 50px 30px;
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#register-form input {
  margin-bottom: 12px;
}
